.section-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 10px;
}

.section-unit .section-title  {
    font-size: 24px;
    height: 72px;
    line-height: 72px;
    letter-spacing: -1px;
    font-family: 'ostrich_sansblack';
    text-align: center;
    display: block;
}
